// =========================================
//                  GRID
// =========================================



.grid__container {

  &--1 {
    @include flexify($dir: column, $just: center);
    margin-left: auto;
    margin-right: auto;
    margin-top: em(50px);
    max-width: 90%;

    .grid-row {

      margin-bottom: em(75px);

      @include mq(medium) {
        @include flexify($dir: row, $just: space-between);
      }

      @include mq(large) {
        @include flexify($dir: row, $just: space-around);
      }
    }

    .card {

      @include mq(medium) {
      margin: em(8px);
      }

      @include mq(large) {
        margin: em(15px);
      }
    }

    @include mq(large) {
      max-width: 90%;
    }

  }

  &--2 {
    max-width: 70%;
    margin-top: em(50px);
    margin-left: auto;
    margin-right: auto;

    @include mq(medium) {
      @include flexify($dir: column, $just: space-around);
      max-width: 90%;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    @include mq(large) {
      @include flexify($dir: row, $just: center);
    }
  }

  &--3 {
    max-width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    span {
      margin-bottom: em(20px);
    }

    img {
      width: auto;
      height: auto;
    }

    @include mq(large) {
      max-width: 90%;
    }
  }
}

.grid-row {
  @include mq(medium) {
    @include flexify($dir: row, $just: space-around);
    //margin-top: em(50px);
  }
}

.card {
  @include flexify($dir: column, $just: flex-start);
  background-color: darken($white, 5%);
  padding-top: 0;
  margin-bottom: em(25px);

  span {
    padding-bottom: em(25px);
  }

  img {
    margin-top: 0;
    max-width: 100%;
    height: auto;
  }

  p {
    font-weight: $font-weight--light;
  }

  p,
  h3 {
    text-align: center;
    padding: 5px 10px;
    margin-bottom: em(5px);
  }

  &--1 {
    a {
      text-decoration: none;
      color: $fun-green;
    }

    @include mq(moderate) {
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
    @include mq(medium) {
      max-width: none;
    }
  }

  &--2 {
    a {
      text-decoration: none;
      color: $lochmara;
    }

    @include mq(moderate) {
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
    }

    @include mq(medium) {
      max-width: none;
    }

    @include mq(medium) {
      margin-left: em(8px);
      margin-right: em(8px);
    }
  }

  &--3 {
    a {
      text-decoration: none;
      color: $red-berry;
    }

    @include mq(moderate) {
      max-width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    
    @include mq(medium) {
      max-width: none;
    }
  }

  @include mq(medium) {
    //@include flexify($dir: column, $just: flex-start);
    //width: em(360px);
    width: 100%;
  }

  @include mq(large) {
    width: 100%;
  }
}

.grid__col {
  @include mq(medium) {
    @include g-columns;
  }
}
