// ==============================
//           HEADER
// ==============================

header {
  padding-top: 350px;
  padding-bottom: 350px;
  margin-top: 0;

  span {
    letter-spacing: normal;
    word-spacing: 0.5px;
  }
}
