// ===========================
//          IMAGES
// ===========================

.grid__container--3 {

}

.grid__container {
  &--1 {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  &--3 {
    img {
    max-height: em(140px);

    @include mq(medium) {
      max-height: none;
    }
    }
  }
}
