// =====================================
//              TYPOGRAPHY
// =====================================


h1 {
  font-family: $font-family--primary;
  color: white;
  font-size: em(72px);
  text-align: center;
  text-shadow: 1.5px 1.5px 3px #000000;
  text-transform: uppercase;
  font-weight: $font-weight--medium;
  letter-spacing: 3px;
  margin-bottom: 0;
  padding-top: 10%;
}

header {
  span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    font-family: $font-family--primary;
    font-weight: $font-weight--light;
    font-size: em(36px);
    letter-spacing: normal;
    margin-top: 0;
  }
}

h2 {
  color: $white;
  text-shadow: 2px 2px 4px $black;
  font-size: em(36px);
  font-weight: $font-weight--medium;
  text-align: center;
  }

.services-section {
  padding: 30px;

  span {
    color: $white;
    font-size: em(20px);
    display: block;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 3px;
    font-weight: $font-weight--light;
  }
}

h4 {
  font-size: em(22px);
}

.grid__container--2 {
  h4 {
    text-align: center;
    font-size: em(22px);
  }

  span {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.grid__container--3 {
  h4,
  span {
    padding-left: 20px;
    padding-right: 20px;
  }

  span {
    font-weight: $font-weight--light;
  }
}
